
.doubleUnderline{
  text-decoration-line: underline;
  text-decoration-style: double ;
}
.doubleUnderline2{
  text-decoration-line: underline;
  text-decoration-style: double ;
}
.form-group{
  border-bottom: double;
  width: 70%;
}
.form-group > select{
  margin-top : 20px;
  border:0px;
  outline:0px;
  padding-left: 30px;
}
.sltFirstMonthDay > select{
  border:0px;
  outline:0px;
}
.sltSecondMonthDay > select{
  border:0px;
  outline:0px;
}

.line1 > input{
  border: 0;
  outline: 0;
  background: transparent;
  width: 80%;
}

.line2 > input{
  border: 0;
  outline: 0;
  background: transparent;
  width: 80%;
}

.line3 > input{
  border: 0;
  outline: 0;
  background: transparent;
  width: 80%;
}

.allLine > div {
  margin-top : 20px;
}
.line1{
  border : 1px ;
  border-bottom: 1px solid;
}
.line2{
  border : 1px ;
  border-bottom: 1px solid;
}
.line3{
  border : 1px ;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
.newtable{
  font-weight: 700;
  text-align: center;
  border: 2px solid ;
}
.table>tbody>tr>td{
  border: 2px solid ;
  border-top: none;
}
.newtable>tbody>tr>td{
  vertical-align: middle;
}
.warning{
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
.breakTime>select{
  display: inline-flex;  
  border: 0px;
  outline: 0px;
}
.txtHour{
  width: 100px;
  height: 40px;
  text-align: center;
}
.newstyle{
  padding-right: 17%;
}
.titlteTable  > td{
  vertical-align: middle;
}
#noBorderBottom{

  border-bottom: none;
  
}
#noBorderTop{

  border-top: none;

}

#tablecss > tbody > tr > td {
  padding: 0px !important;
}
.inputTimes {
  width: 70px; 
  height: 40px; 
  text-align: center;
}
.inputWork{
  width: 150px; 
  height: 40px;
  text-align: center; 
  font-size: 10px;
}

#arroundText > td > textarea{
  height: 100% ;
  width: 100%;
}

#tablecss2{
  border-left: none;
}

.matchTable{
  display: inline-flex;
}

.borderLine {
  display: inline-flex;
  border-top: none;
  border-bottom: none;
}
.arroundText{
  height: 400px;
  width: 200px;
}
.txtInputComment{
  height: 98%;
  width: 100%;
}
.statusRender{
  margin-left: 120px;
}
